.ngx-dragdrop-src{
  background-color: #000000;
  color: #ccc;
}
.ngx-dragdrop-over{
  background-color: #ccc;
  color: #000000;
}
.ngx-dragable{
  background-color:#555555
}
.ngx-dropable{
  border-style: solid;
}
.ngx-nulable{
  opacity: 0;
}
.no-drop {cursor: no-drop;}