.ngx-dragdrop-src{
  background-color: #000000;
  color: #ccc;
}
.ngx-dragdrop-over{
  background-color: #ccc;
  color: #000000;
}
.ngx-dragable{
  background-color:#555555
}
.ngx-dropable{
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.ngx-nulable{
  opacity: 0;
}

