.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
th {
    font-size: 13px;
    min-width: 80px;
    max-width: 80px;
    height: 40px;
    border-radius: 4px;
}
thead {
    background-color:rgb(8, 49, 77); 
    color:GhostWhite;
}
td {
    text-align: center;
    background-color:rgb(155, 192, 201); 
    color:GhostWhite;
    border-radius: 6px;
}
.item {
    display: block;
    border-radius: 6px;
    font-weight: bold;
    transform: translate3d(0px, 0px, 0px); 
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px, rgba(0, 0, 0, 0.6) 0px 1px 2px 0px;  
    visibility: inherit;  
    margin: 5px auto 5px; 
    padding: 8px;
    text-align: center;
}
.item1 {
    display: block;
    border-radius: 6px;
    font-weight: bold;
    transform: translate3d(0px, 0px, 0px); 
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px, rgba(0, 0, 0, 0.6) 0px 1px 2px 0px;  
    visibility: inherit;  
    margin: 5px auto 5px; 
    padding: 8px;
    text-align: center;
    font-size:14px;
}
p {
    text-align: center;
    font-weight: bold;
    font-size:20px;
}
.scroll-list {
    width: 200px;
    height: 300px;
    overflow: auto;
    margin: 5px auto 5px; 
    border-radius: 6px;
  }
.pointer {
    cursor: pointer;
}